TENANT_SLUG=crazy-tadka
NEXT_PUBLIC_SUPABASE_URL=https://avdoobejztavovmvdyps.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=https://avdoobejztavovmvdyps.supabase.co
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3001
